<div class="container content">

  <h1>This is all your history section</h1> 

  <br>

  <div class="row">
    <div class="col-lg-12 bg-warning text-center">
      <h3>Previous Movies</h3>
            <div>
          {{!-- <ul> --}}
            <h3>here's where the movies go</h3>
          {{#each movies}}
            {{> movies/favorite-block}}
          {{/each}}
        </div>

          <button class=" submit delete-favorite ">Delete</button>
      
    </div>
  </div>

</div>