<div class="container content">

  <h2>History</h2>

  <br>
  <ul> 
  <a class="btn btn-primary js-scroll-trigger" href="/">Movie App</a> </ol>
  <a class="btn btn-primary js-scroll-trigger" href="/homepage">Home Page</a></ol>
</ul>
  <div class="row">
    <div class="col-lg-6  text-center">
      <h3>Previous Movies</h3>
      <div>
        {{!-- <ul> --}}
        {{#each movies}}
        {{> movies/favorite-block}}
        {{/each}}
      </div>


    </div>
    <div class="col-lg-6  text-center">
      <h3>Previous Dinner</h3>
      <div>
        {{!-- <ul> --}}
        {{#each dinner}}
        {{> movies/dinner-block}}
        {{/each}}
      </div>

    </div>
  </div>

</div>