 <div class = "container content">
<h1 class= "font-bold text-3xl "> For Your Entertaiment Tonight!</h1>
<div class="row"> 
<div class = "grid gap-4 grid-cols-1"> 
     <h3>Enter Movie Name</h3> 
<div class = "create-form"> 
     <br> {{! need to add margins but using tailwinds css}}

  <label class="block">
  <span class="text-gray-700">Enter Your Favorite Movie</span>
  <input type="text" class="form-input mt-1 block w-full" id="npi" name="name">
</label>
{{!-- <button class="transform hover:scale-110 motion-reduce:transform-none ...">
  Submit Movie
</button>

          {{#each name}}
          {{#unless Movie}}
          {{> movies/movies-block newPairingsSearched=true}}
          {{/unless}}
          {{/each}}
         
{{!#unless movies}}
{{!<h3 class="warning">WARNING: This entry does not have a movie!</h3>
{{/unless}}
</div>
</div>
</div>
</div>
<div class="container mx-auto px-4"> 
    <div class="grid grid-cols-1" >
      <li class="bg-white rounded-lg shadow-xl"></li>
        {{!-- <h2> Details of movie </h2>  --}}
        <div class="=content-movies">
          {{!-- <ul> --}}
          {{#each name}}
          {{#if Movie}}
          {{> movies/movies-block newPairingsSearched=false}}
          {{/if}}
          {{/each}}
        </div>
        {{!-- </ul> --}}
      </div>
      </div>
</div>