
<nav id="nav" class="navbar fixed-top navbar " data-spy="affix">
    <div class="container"> 
  <div class="col-lg-12 bg-warning text-center">
    <h3>Enter Your Favorite Movie</h3>
<div class="movie-title">
   <input type="text" class="col-md-2" id="movietitle" name="name">
     </div> 
 <button class= "btn btn-light " id="search">Search</button>
  </div> 
  </div>  
</nav>
    <img
            src="../assets/image/film2.png"
            class="d-block w-100"
            alt="..."
          />
      
<div class = "container" > 
  <div class="row">
    <div class="col-md-4">
      <h2 id="movie-header">Dinner</h2>
    </div>
    <div class="col-md-4">
      <h2>And</h2>
    </div>
    <div class="col-md-4">
      <h2 id="dinner-header"> A Movie</h2>
      <button id="like-button"><i class="fa fa-heart"></i></button>
       <a class="btn btn-primary js-scroll-trigger" href="/favorites">History</a>
      <a class="btn btn-primary js-scroll-trigger" href="/homepage">Home Page</a> 
    </div>

  </div>
  <div class="container m-3 p-3">

    <div class="row">

    <div class="col-md-6">
      <div class="=content-movie">
        <div class="card invisible mx-auto" id="movie_card">
          <img class="card-img-top" id="poster" alt="">
          <div class="card-body">
              <p class="card-text" id="plot"> </p>
              <p class="card-text" id="genre"> </p>
              <p class="card-text" id="actors"> </p>
              <p class="card-text" id="directors"> </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card invisible mx-auto" id="dinner_card">
          <img class="card-img-top" id="mealpic" alt="">
          <div class="card-body">
            <h5 class="card-title">Ingredients</h5>
            <ul class="card-text" id="ingredients"> </ul>
            <h5 class="card-title">Instructions</h5>
            <ol class="card-text" id="instructions"> </ol>

            {{!-- use heart for pre-like then heart-fill for after a like --}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 