  li {
    padding: 40px;
    margin: 40px;
    margin-bottom: 20px;
    background: #E0290E;
    opacity: 0.8;
    position: relative;
    border-style: outset;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    color:rgb(11, 57, 84);

  }   


  h3 {
    background-color:rgb(232, 175, 4);
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Shrikhand', cursive;
    text-align: center;
    color:rgb(11, 57, 84)

  }
  h2 {
    background-color:rgb(232, 175, 4);
    font-size: 40px;
    text-shadow: 2px 2px black;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Shrikhand', cursive;
    text-align: center;
  }

   .col-lg-12 {
    padding: 10px;
    margin: 20px;
    opacity: 0.7;
    position: relative;
  } 

  body {
    background-color:rgb(11, 57, 84);
    background-repeat: no-repeat;
    background-size: cover;
  }
   
 

  #my-4  {
  position: relative;
  width: 100%;
  max-width: 100%;
}



#my-4 .btn {
  position: absolute;
  top: 100%;
  left: -50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}




#movie_card {

left: 60px;
margin: 40px;
position: relative;

}
#dinner_card {
  left: 70px;
  padding: 10px;
position: relative;
justify-content: center;

 
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */

}


