<li>
	{{dinner_movie}} 
    {{#if favorited}} 

	<button class="btn btn change-pairingSearched" data-id="{{this.id}}" data-newFavorite="{{this.favorited}}">


	</button>
    {{/if}}
	 
	<div class="btn btn-success delete-favorite" data-id="{{this.id}}">Delete Fav Movies/Dinner</div>
      


</li>
{{!-- change-devoured --}}