<li>
	{{movie_name}} 
    {{#if favorited}} 

	<button class="btn btn change-pairingsSearched" data-id="{{this.id}}" data-newFavoritesSearched="{{this.PairingsSearched}}">


	</button>
    {{/if}}
	 
	<div class="btn btn-success delete-favorite" data-id="{{this.id}}">Delete Favorites</div>



</li> 
