<li>
	{{name}}
	{{#if Movie}}

	<button class="transform hover:scale-110 motion-reduce:transform-none change-pairingsSearched" data-id="{{this.id}}"
		data-newPairingsSearched="{{this.Movie}}">
	</button>


	{{/if}}




</li>