<li>
	{{movie_name}}
	{{#if pairingsSearched}}

	<button class="transform hover:scale-110 motion-reduce:transform-none change-pairingsSearched" data-id="{{this.id}}"
		data-newPairingsSearched="{{this.movie_name}}">
	</button>


	{{/if}}




</li>